<head>
  <meta name="viewport" content="width=device-width, user-scale=yes,
    initial-scale=1.0, maximum-scale=5.0" />
</head>

<div class="loginContainer">
  <h2 class="loginTitle">SHIER</h2>
  <div class="loginForMail">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="loginForMailField">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス"%>
      </div>

      <div class="loginForMailField">
        <%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード"%>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="loginForRememberField">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="loginForMailActions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
    <div class="loginDownImg"></div>
  </div>
</div>
