<header>
  <div class="post">
    <%= link_to '+', '/places/new' %>
  </div>
</header>

<% @places.each do |place| %>
  <%= place.name %>
<% end %>

<div class="myshop">
  <img src="" alt="">
  <p>マクドナルド中川</p>
  <button>退会</button>
</div>

<p>シフト一覧</p>

<div class="shift">
  <% @days.each do |day| %>
    <%= day.day %>
    <%= link_to "#{day.contents}", day_path(day.id) %>
  <% end %>
</div>

<div class="post">
  <%= link_to '+', '/days/new' %>
</div>